<ion-toolbar color="primary" mode="ios">
    <ion-title>
        <h2 class="section-title">Groups</h2>
    </ion-title>
</ion-toolbar>

<ion-content>

    <div class="group-nav">
        <div class="my-groups-header">
            <h3 class="group-nav-title">My groups</h3>
            <div class="see-all-link">See all</div>
        </div>
        <div class="group-selector">
            <div class="group-icons">
                <div *ngFor="let group of groups | slice:0:3;">
                    <div class="group-image">
                        <olii-container-cover-image [imageUrl]="group.CoverImageUrl" boarderRadius="50%" [routerLink]="['./group', group.Id]"></olii-container-cover-image>
                    </div>
                    <div class="group-nav-group-name">{{ group.Name }}</div>
                </div>
            </div>
            <div class="new-group-button-container">
                <div class="new-group-button" routerLink="./create">
                    <olii-base-icon size="medium" name="add-outline"></olii-base-icon>
                </div>
                <div class="group-nav-group-name">+ New</div>
            </div>
        </div>
    </div>

    <hr>

    <!-- TODO: Add section here that has group posts by post date -->

</ion-content>