ion-toolbar {
    --min-height: 4rem;
}

ion-content {
    --padding-top: 1rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
}

.section-title {
    color: var(--color-primary-contrast);
}

hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #eee;
  }

.group-nav {
    width: 100%;
}

.my-groups-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-image {
    height: 3rem;
    width: 3rem;
    margin-right: 1.8rem;
    margin-bottom: 0.5rem;
}

.new-group-button {
    max-width: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    max-height: 3rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.group-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-icons {
    display: flex;
    flex-direction: row;
}

.group-nav-title {
    margin-bottom: 1rem;
}

.group-nav-group-name {
    font-size: 0.8em;
    text-align: center;
    margin-right: 1rem;
    width: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.see-all-link {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}