<ion-header collapse="fade" mode="ios">
    <ion-toolbar class="purple-background" mode="ios">
      <ion-title color="light">Groups</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen="true" scrollY="true">
      <ion-header collapse="condense" mode="ios">
          <ion-toolbar class="purple-background" mode="ios">
              <div class="header">
                  <h2 class="color-light">Groups</h2>
                  <div class="add-event">
                      <olii-colored-square-background backgroundColor="purple-tinted-white" (click)="createGroup()">
                          <olii-base-icon name="add" color="primary" size="small"></olii-base-icon>
                      </olii-colored-square-background>
                  </div>
              </div>
          </ion-toolbar>
          <div class="spacer"></div>
          <!-- <ion-toolbar class="searchbar" mode="ios">
              <ion-searchbar animated="true" placeholder="Search for groups"></ion-searchbar>
          </ion-toolbar> -->
      </ion-header>

    <div class="my-groups-container">
        <div class="my-groups-header-container">
            <h3>My groups</h3>
            <div class="see-all-link" routerLink="./all">See all</div>
        </div>
        <div class="my-groups-selector-container">
            <div class="group-links-container">
                <ng-container *ngIf="myGroupsPreview$ | async as myGroupsPreview">
                    <olii-group-preview-icons
                    [groups]="myGroupsPreview?.slice(0, calcDisplayGroups())"
                    groupIconSize="large"
                    [additionalDisplayNumber]="myGroupsPreview?.length - calcDisplayGroups()">
                    </olii-group-preview-icons>
                </ng-container>
            </div>
        </div>
    </div>

    <hr>

    <div>
        <h3 class="section-header">Latest</h3>
        <div class="post" *ngFor="let groupPost of latestGroupPosts$ | async">
            <ion-card>
                <div class="card-content">
                    <div class="post-group-header" [routerLink]="['./group', groupPost.GroupPreview.GroupId]">
                        <div class="group-info">
                            <div class="group-image">
                                <olii-container-cover-image [imageUrl]="groupPost.GroupPreview.CoverImageUrl" boarderRadius="50%"></olii-container-cover-image>
                            </div>
                            <div class="group-name">{{groupPost.GroupPreview.Name}}</div>
                        </div>
                    </div>

                    <olii-group-post-card [post]="groupPost"></olii-group-post-card>
                    
                </div>
            </ion-card>
        </div>
    </div>
</ion-content>