<ion-toolbar color="primary" mode="ios">
    <ion-title>
        <h2 class="section-title">Groups</h2>
    </ion-title>
</ion-toolbar>

<ion-content id="content-id">

    <div class="my-groups-container">
        <div class="my-groups-header-container">
            <h3>My groups</h3>
            <div class="see-all-link" routerLink="./all">See all</div>
        </div>
        <div class="my-groups-selector-container">
            <div class="group-links-container">
                <olii-group-preview-icons [groups]="partialGroups.slice(0,calcDisplayGroups())" groupIconSize="large" [additionalDisplayNumber]="partialGroups.length - calcDisplayGroups()"> </olii-group-preview-icons>
            </div>

            <div id="new-group-button-id" class="new-group-button-container">
                <div class="new-group-button" routerLink="./create">
                    <olii-base-icon size="medium" name="add-outline"></olii-base-icon>
                </div>
                <div class="group-nav-group-name">+ New</div>
            </div>
        </div>
    </div>

    <hr>

    <div>
        <h3 class="section-header">Latest</h3>

        <div class="post" *ngFor="let postWrapper of groupsLatest">
            <ion-card>
                <div class="card-content">
                    
                    <div class="post-group-header">
                        <div class="group-info">
                            <div class="group-image">
                                <olii-container-cover-image [imageUrl]="postWrapper.GroupImageUrl" boarderRadius="50%"></olii-container-cover-image>
                            </div>
                            <div class="group-name">{{postWrapper.GroupName}}</div>
                        </div>
                    </div>

                    <olii-comment-card [post]="postWrapper.GroupPost" [currentUser]="profile" [groupId]="postWrapper.GroupId"></olii-comment-card>
                    
                </div>
            </ion-card>
        </div>
    </div>

</ion-content>