.container {
    display: inline-block;
}

.date-location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
    color: var(--color-primary);
}

.date-container {
    display: flex;
    gap: 3px;
    align-items: center;

}

.icon {

}

.date {

}

.time {

}
