.container {
    display: inline-block;
}

.date-location-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.date-container {
    display: flex;
    gap: 3px;
    align-items: center;

}
