<ion-content>
    <olii-back-button></olii-back-button>
    <div class="full-page-side-margin">
        <div class="intro">
            <img src="../../assets/logos/OliiWithPurpleBG.png" alt="">
            <h3>Join us to start searching</h3>
            <p class="color-medium font-thin">Create awesome plans and meet new exchange students</p>
        </div>
    
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <ion-item>
                <ion-input formControlName="username" type="text" placeholder="Username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="password" placeholder="Password"></ion-input>
            </ion-item>
    
            <div class="other-options">
                <div class="checkbox">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>"I have read the <a (click)="toggleModel()">Terms and Conditions</a>"</ion-label>
                </div>
            </div>

            <div class="submit-button">
                <ion-button type="submit" [disabled]="!registerForm.valid" mode="ios">Create Account</ion-button>
            </div>
            <a routerLink="registration-flow">registration flow</a>
        </form>
    </div>
    <ion-modal [isOpen]="showTermsAndConditions">
        <ng-template>
          <ion-content>
              <div class="model-content full-page-side-margin">
                  <olii-base-icon name="close" color="primary" size="medium" (click)="toggleModel()"></olii-base-icon>
                  <div class="term-and-conditions">
                      <h2>Term and Conditions</h2>
                      <p>This is the start to some very boring legal stuff.</p>
                      <p>Here's even more boring legal stuff, blah, blah, blah...</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed commodo justo. Fusce efficitur est elit. Nulla vulputate dolor eu dictum mollis. Ut condimentum et nibh vel efficitur. Proin sollicitudin purus ac ante egestas, in gravida erat maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean quis nisi aliquet ipsum tincidunt fringilla ut quis nunc. Nulla facilisi. Aliquam sagittis, sapien quis pharetra semper, metus leo dictum lacus, sed lacinia quam ligula eu lectus. Nulla sit amet nisl ante. Sed vulputate in felis id viverra. Vestibulum quis odio in erat elementum consectetur. Sed vitae arcu ac magna mattis vestibulum non sodales ipsum. In purus nulla, lobortis eu sapien eu, eleifend condimentum dolor. Curabitur sagittis dapibus ipsum sit amet aliquet. Praesent enim nisi, bibendum vitae auctor a, interdum sed nisl.</p>
                      <p>Praesent efficitur lorem non purus congue sodales. Mauris ac quam lacinia, tristique nibh sed, dignissim massa. Vestibulum vehicula et diam congue porta. Fusce vitae dignissim sem, a posuere odio. Vestibulum ornare bibendum tortor ac euismod. Ut condimentum molestie nunc, id viverra ligula hendrerit ut. Pellentesque ut purus sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                      <p>Donec eu mauris commodo, laoreet tellus in, congue velit. Cras ac augue et nisl facilisis cursus. Nam id ornare turpis, vel dignissim augue.</p>
                      <p>Vivamus posuere diam eget metus finibus, nec sagittis metus lobortis. Donec sed varius felis. Fusce pulvinar tincidunt dictum. Suspendisse mollis ligula quis quam efficitur, vel consectetur lectus viverra. Proin in tristique nisl. Duis efficitur diam varius augue semper bibendum. Donec facilisis interdum lacus quis mattis. Suspendisse at nisl non tortor ornare vestibulum ut a erat. Nulla fringilla dolor in neque placerat dictum.</p>
                  </div>
              </div>
            </ion-content>
        </ng-template>
      </ion-modal>
</ion-content>