ion-toolbar.purple-background {
    --background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);

    .header {
        display: flex;
        align-items: center;

        .back {
            margin-right: auto;
        }

        h2 {
            margin-right: auto;
            margin-left: -6vw;
        }
    }
}

ion-header {
    background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
}

.container {
    margin: 1rem 0.5rem 0.5rem 1rem;

    .attendee {
        margin-top: 1rem;
    }
}
