<olii-collapsible-purple-header-with-one-button-section-one
    buttonPosition="start"
    title="Attendees"
    iconName="arrow-back"
    (buttonClickEventEmitter)="navigateBack()">
</olii-collapsible-purple-header-with-one-button-section-one>

<ion-content>
    <olii-collapsible-purple-header-with-one-button-section-two
        buttonPosition="start"
        title="Attendees"
        iconName="arrow-back"
        (buttonClickEventEmitter)="navigateBack()">
    </olii-collapsible-purple-header-with-one-button-section-two>

    <div class="container">
        <ion-item *ngFor="let attendee of eventAttendees$ | async" class="attendee" (click)="navigateToProfile(attendee.ProfileId)">
            <ion-avatar slot="start">
                <img [src]="attendee.ProfilePictureUrl">
            </ion-avatar>
            <ion-label>{{ attendee.FirstName }} {{ attendee.LastName }}</ion-label>
        </ion-item>
    </div>
</ion-content>  
