ion-toolbar.purple-background {
    --background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
    --padding-start: 0.75rem;
    --padding-end: 0.75rem;
    --padding-bottom: 0.5rem;

    .header {
        display: flex;
        align-items: center;

        .back {
            margin-right: auto;
            color: var(--color-primary);
        }

        h2 {
            margin-right: auto;
            margin-left: -4vw;
        }
    }
}

ion-header {
    background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
}

.container {
    margin: 1rem 0.5rem 0.5rem 1rem;

    .attendee {
        margin-top: 1rem;
    }
}
