<ion-content>
    <ion-slides pager="true" [options]="slideOptions">
      <ion-slide>
        <div class="slideshow-image image-one">
          <div class="overlay"></div>
          <div class="content">
            <h3 class="color-light">Get read to maximize your time abroad!</h3>
            <div class="font-body-m color-light">Create lasting memories</div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slideshow-image image-two">
          <div class="overlay"></div>
          <div class="content">
            <h3 class="color-light">Don't ever feel alone</h3>
            <div class="font-body-m color-light">Pass on insider knowledge of the best places for adventures with your friends</div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slideshow-image image-three">
          <div class="overlay"></div>
          <div class="content">
            <div class="sign-up-content">
              <h3 class="color-light">Ready. Set. Discover!</h3>
              <ion-button mode="ios" color="primary" routerLink="/registration">Start Now</ion-button>
              <div class="font-body-m color-light">Already have an account? <a>Sign in</a></div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>