ion-item {
    --padding-start: 0;
}

hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #eee;
  }

.card-content {
    margin: 1rem;
    color: var(--color-tertiary);
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.poster-info {
    display: flex;
    flex-direction: row;
}

.poster-image {
    min-width: 3em;
    min-height: 3em;
    height: 3em;
    width: 3em;
    margin-right: 0.5rem;
}

.comment-icon {
    display: flex;
    justify-content: flex-end;
}

.poster-name {
    align-self: center;
}

.post-images {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem;
    gap: 10px;
}

.add-comment-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.post-comment-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toggle-show-comments-text {
    display: flex;
    justify-content: center;
}

.comment-textbox{
    padding: 0;
    width: 12rem;
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

.icon {
    margin-right: 0.5rem;
}