@supports (--custom:property) {
    .cover-image {
        height: 30vh;
        width: 100%;
        background-image: var(--background);
        background-position: center center;
        background-attachment: local;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.back-icon {
    margin: 0 0 0 1rem;
    padding-top: 1.5rem;
    color: var(--color-primary);
}

.album-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0.875rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;

    .image-container {
        width: 32%;
    }
}
