<ion-content>
    <div class="cover-image" [style]="{'--background': 'url(\'' + group.CoverImageUrl + '\')' }">
        <div class="back-icon">
            <olii-icon-with-off-white-square-background name="arrow-back" routerLink="/community/groups"></olii-icon-with-off-white-square-background>
        </div>
    </div>

    <div class="group-details">
        <h2 class="group-name">{{ group.Name }}</h2>
        <div class="group-description">{{group.Description}}</div>
    </div>

    <div class="member-icons" routerLink= "./members">
        <div *ngFor="let member of group.Admins.concat(group.Members) | slice:0:6;">
            <div class="member-image">
                <!-- Router Link to a member page?-->
                <olii-container-cover-image [imageUrl]="member.ProfilePictureUrl" boarderRadius="50%"></olii-container-cover-image>
            </div>
        </div>
    </div>

    <hr>

    <div *ngIf="canView() else requestToJoinView">
        <div class="menu-bar-container">
            <ion-segment mode="md" class="menu-bar" (ionChange)="segmentChanged($event)" [value]="segmentToShow" color="tertiary">
                <ion-segment-button value="feed" layout="icon-start">
                    <ion-icon name="list-outline"></ion-icon>
                    <ion-label>Feed</ion-label>
                </ion-segment-button>
                <ion-segment-button value="events" layout="icon-start">
                    <ion-icon name="calendar-outline"></ion-icon>
                    <ion-label>Events</ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>

    <ng-template #requestToJoinView>
        <div class="request-button-container">
            <ion-button type="button" color="primary" (click)="requestToJoinGroup()" mode="ios">Request to join</ion-button>
        </div>
    </ng-template>

    <!--ngIf user is a member of this group-->
    <div id="group-content" class="view-content">
        <div *ngIf="segmentToShow == 'feed'">
            <div class="post" *ngFor="let post of groupPosts$ | async">
                <olii-comment-card [post]="post" [currentUser]="user" [groupId]="group.Id"></olii-comment-card>
            </div>
        </div>
    
        <div class="group-main-buttons">
            <ion-button class="side-button" type="button" mode="ios" size="small" (click)="toggleModal()" [disabled]="disableButtons">
                <olii-base-icon name="pencil-outline"></olii-base-icon>
                <div class="button-label">Write Post</div>
            </ion-button>
            <ion-button class="side-button" type="button" mode="ios" size="small" (click)="addEvent()" [disabled]="disableButtons">
                <olii-base-icon name="calendar-outline"></olii-base-icon>
                <div class="button-label">Add Event</div>
            </ion-button>
        </div>
    
        <ion-modal class="create-post-popup-modal" [isOpen]="showPostModal">
            <ng-template>
                
                <div class="close-modal" (click)="toggleModal()">
                    <olii-icon-with-off-white-square-background name="close"></olii-icon-with-off-white-square-background>
                </div>
                <div class="modal-header">
                    <h3>Create a Post</h3>
                </div>
    
              <ion-content class="modal-content">
                    <form [formGroup]="createPostForm">
                        <ion-item>
                            <ion-input placeholder="What's on your mind?" formControlName="postContent"></ion-input>
                        </ion-item>
                    </form>
    
                    <h3>Add Image</h3>
    
                    <div class="post-pictures-container">
                        <div *ngFor="let picture of postPictures; let i = index">
    
    
                            <div class="post-picture" [style]="{'--background': 'url(\'' + picture.webPath + '\')' }">
                                <div class="remove-picture">
                                    <olii-icon-with-off-white-square-background name="close-circle-outline" (click)="removePostPicture(i)"></olii-icon-with-off-white-square-background>
                                </div>
                            </div>
                        </div>
                        <div class="post-picture">
                            <olii-container-cover-image [imageUrl]="sanitizeUrl(addPictureImage.webPath)" (click)="addPostPicture()"></olii-container-cover-image>  
                        </div>
                    </div>
    
                    <hr>
    
                    <div class="write-post-button-container">
                        <!--<ion-button [disabled]="albumNameInput.invalid" color="primary" (click)="onCreateAlbum()" mode="ios">Create Album</ion-button>-->
                        <ion-button color="primary" [disabled]="!createPostForm.valid" (click)="writePost()" mode="ios">Write a Post</ion-button>
                    </div>
                </ion-content>
            </ng-template>
        </ion-modal>
    </div>

</ion-content>