ion-content {
    --padding-start: 1rem;
    --padding-end: 1rem;
}

ion-item {
    --padding-start: 0;
}

ion-label {
    --padding-bottom: 0;
    font-weight: bold;
}

.back-icon{
    margin-left: 0.5rem;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
}
.profile-image {
    height: 100px;
    width: 100px;
    margin-bottom: 1.125rem;
}

.change-profile-pic-label {
    font-weight: bold;
    color: var(--color-primary);
}

.save-button {
    text-align: center;

    ion-button {
        --padding-start: 5rem;
        --padding-end: 5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}