 <ion-header collapse="fade" mode="ios">
    <ion-toolbar class="purple-background" mode="ios">
        <ion-title color="light">Edit Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scrollY="true">
    <ion-header collapse="condense" mode="ios">
        <ion-toolbar class="purple-background" mode="ios">
            <div class="header">
                <div class="back">
                    <olii-colored-square-background backgroundColor="purple-tinted-white" (click)="navigateBack()">
                        <olii-base-icon name="arrow-back" color="primary" size="small"></olii-base-icon>
                    </olii-colored-square-background>
                </div>
                <h1 class="color-light">Edit Profile</h1>
            </div>
        </ion-toolbar>
    </ion-header>
    
    <div class="profile-image-container">
        <div class="profile-image">
            <olii-container-cover-image *ngIf="profilePicture != null" [imageUrl]="sanitizeUrl(profilePicture.webPath)" boarderRadius="50%"></olii-container-cover-image>
        </div>
        <div class="change-profile-pic-label" (click)="setProfilePicture()">Change Profile Pic</div>
    </div>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" #form="ngForm">
        <ion-item>
            <ion-label color="tertiary" position="stacked">First Name</ion-label>
            <ion-input color="tertiary" mode="ios" type="text" formControlName="firstName" clearInput="true"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="!profileForm.controls.firstName.valid">First name cannot be left blank</ion-note>
        <ion-item>
            <ion-label color="tertiary" position="stacked">Last Name</ion-label>
            <ion-input color="tertiary" mode="ios" type="text" formControlName="lastName" clearInput="true"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="!profileForm.controls.lastName.valid">Last name cannot be left blank</ion-note>
        <ion-item>
            <ion-label color="tertiary" position="stacked">Home Country</ion-label>
            <ion-input color="tertiary" mode="ios" type="text" formControlName="homeCountry" clearInput="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="tertiary" position="stacked">Host Country</ion-label>
            <ion-input color="tertiary" mode="ios" type="text" formControlName="hostCountry" clearInput="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="tertiary" position="stacked">Current City</ion-label>
            <ion-input color="tertiary" mode="ios" type="text" formControlName="currentCity" clearInput="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="tertiary" position="stacked">Bio</ion-label>
            <ion-textarea color="tertiary" mode="ios" type="text" formControlName="bio" clearInput="true"></ion-textarea>
        </ion-item>
        <div class="images">
            <h4>Add Images</h4>
            <hr>
            <olii-edit-images [images]="profileImages" (imagesEvent)="onProfileImagesChange($event)"></olii-edit-images>
        </div>

        <div class="save-button">
            <ion-button type="submit" [disabled]="profileForm.invalid || loadingButton" mode="ios">
                <span *ngIf="!loadingButton">Update profile</span>
                <ion-spinner *ngIf="loadingButton"></ion-spinner>
            </ion-button>
        </div>
    </form>

</ion-content>