ion-toolbar.purple-background {
    --background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
    --padding-start: 0.75rem;
    --padding-end: 0.75rem;
    --padding-bottom: 0.5rem;

    .header {
        display: flex;
        align-items: center;

        .back {
            margin-right: auto;
        }

        h2 {
            margin-right: auto;
        }
    }
}

ion-header {
    background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
}

ion-label {
    font-weight: bold;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
}
.profile-image {
    height: 100px;
    width: 100px;
    margin-bottom: 1.125rem;
}

.change-profile-pic-label {
    font-weight: bold;
    color: var(--color-primary);
}

form {
    margin: 0rem 0.5rem 0.5rem 0.5rem;
}

.save-button {
    text-align: center;

    ion-button {
        --padding-start: 5rem;
        --padding-end: 5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}