 <ion-header collapse="fade" mode="ios">
    <ion-toolbar class="purple-background" mode="ios">
        <ion-title color="light">Edit Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scrollY="true">
    <ion-header collapse="condense" mode="ios">
        <ion-toolbar class="purple-background" mode="ios">
            <div class="header">
                <div class="back">
                    <olii-colored-square-background backgroundColor="purple-tinted-white" (click)="navigateBack()">
                        <olii-base-icon name="arrow-back" color="primary" size="small"></olii-base-icon>
                    </olii-colored-square-background>
                </div>
                <h2 class="color-light">Edit Profile</h2>
            </div>
        </ion-toolbar>
    </ion-header>
    
    <div class="profile-image-container">
        <!-- TODO-M4: Add profile picture changing functionality to Edit Profile page -->
        <div class="profile-image">
            <olii-container-cover-image [imageUrl]="sanitizeUrl(profilePicture.webPath)" boarderRadius="50%"></olii-container-cover-image>
        </div>
        <div class="change-profile-pic-label" (click)="setProfilePicture()">Change Profile Pic</div>
    </div>

    <form [formGroup]="profileForm">
        <ion-item>
            <ion-label color="tertiary" position="stacked">First Name</ion-label>
            <ion-input color="tertiary" mode="ios" type="text" formControlName="firstName" clearInput="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="tertiary" position="stacked">Last Name</ion-label>
            <ion-input color="tertiary" mode="ios" type="text" formControlName="lastName" clearInput="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="tertiary" position="stacked">Home Country</ion-label>
            <ion-input color="tertiary" mode="ios" type="text" formControlName="homeCountry" clearInput="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="tertiary" position="stacked">Current City</ion-label>
            <ion-input color="tertiary" mode="ios" type="text" formControlName="currentCity" clearInput="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="tertiary" position="stacked">Bio</ion-label>
            <ion-input color="tertiary" mode="ios" type="text" [value]="profile.Bio" clearInput="true"></ion-input>
        </ion-item>
    </form>
    
    <div class="save-button">
        <!--TODO-M13: Add form validation to edit-profile page-->
        <ion-button mode="ios">Save</ion-button>
    </div>
</ion-content>