.container {
    display: inline-block;
}

.background {
    padding: 4px;
    border-radius: 4px;
    line-height: 0;
    cursor: pointer;
}

.translucent-purple {
    background-color: rgba(var(--color-primary-rgb), 0.125);
}

.purple-tinted-white {
    background-color: #F2EFFF;
}

.white {
    background-color: var(--color-light);
}