ion-card {
    --background: white;
}

.content {
    display: flex;
    gap: 4px;


    .event-details {
        max-width: 58vw;
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding: 1px 3px 3px 0px;
    }
}