ion-card {
    --background: white;
}

.content {
    display: flex;
    gap: 4px;

    ion-thumbnail {
        --size: 6.5em;
        --border-radius: 5%;
    }

    .event-details {
        width: 10.5em;
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding: 1px 3px 3px 0px;
    }
}