ion-card {
    --background: white;
}

.content {
    display: flex;
    gap: 4px;

    .cover-image {
        width: 15vh;
    }

    .event-details {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 3px 3px 3px 0px;
    }
}