ion-content {
    --padding-top: 1rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
}

ion-toolbar.purple-background {
    --background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);

    .header {
        display: flex;
        align-items: center;

        h2 {
            margin-left: 18vw;
            margin-right: auto;
        }
    }
}

ion-header {
    background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
}

.section-title {
    color: var(--color-primary-contrast);
}

.back-icon {
    margin: 0 0 0 1rem;
    color: var(--color-primary);
}

.groups-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0.25rem;
}

.group-card-container {        
    width: 49%;

    .group-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }

}

.group-description {
    text-align: center;
    margin-right: 1rem;
    width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.group-title {
    text-align: center;
    width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}