<!-- TODO-L6: Update header to match the header style on the events-feature page. -->
<ion-toolbar color="primary" mode="ios">
    <ion-title>
        <h2 class="section-title">My Groups</h2>
    </ion-title>

    <div class="back-icon">
        <olii-icon-with-off-white-square-background name="arrow-back" routerLink="/community/groups"></olii-icon-with-off-white-square-background>
    </div>
</ion-toolbar>

<ion-content>
    <div class="groups-container">
        <olii-responsive-aspect-ratio-container *ngFor="let group of groups" aspectRatio="1/1" class="group-card-container">
            <ion-card [routerLink]="['../group', group.Id]">
                <olii-responsive-aspect-ratio-container aspectRatio="1/0.78">
                    <olii-container-cover-image [imageUrl]="sanitizeUrl(group.CoverImageUrl)"></olii-container-cover-image>
                </olii-responsive-aspect-ratio-container>
                
                <div class="group-details">
                    <h4 class="group-title">{{ group.Name }}</h4>
                    <div class="group-description">{{ group.Description }}</div>
                </div>
            </ion-card>
        </olii-responsive-aspect-ratio-container>
    </div>
</ion-content>