<ion-header collapse="fade" mode="ios">
    <ion-toolbar class="purple-background" mode="ios">
      <ion-title color="light">My Groups</ion-title>
    </ion-toolbar>
</ion-header>

<ion-header collapse="condense" mode="ios">
    <ion-toolbar class="purple-background" mode="ios">
        <div class="header">
            <div class="back">
                <olii-icon-with-off-white-square-background name="arrow-back" routerLink="/community/groups"></olii-icon-with-off-white-square-background>
            </div>
            <h2 class="color-light">My Groups</h2>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="groups-container">
        <olii-responsive-aspect-ratio-container *ngFor="let group of groups" aspectRatio="1/1" class="group-card-container">
            <ion-card [routerLink]="['../group', group.GroupId]">
                <olii-responsive-aspect-ratio-container aspectRatio="1/0.75">
                    <olii-container-cover-image [imageUrl]="sanitizeUrl(group.CoverImageUrl)"></olii-container-cover-image>
                </olii-responsive-aspect-ratio-container>
                
                <div class="group-details">
                    <h4 class="group-title">{{ group.Name }}</h4>
                    <div class="group-description">{{ group.Description }}</div>
                </div>
            </ion-card>
        </olii-responsive-aspect-ratio-container>
    </div>
</ion-content>