// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: var(--color-primary);
  --ion-color-primary-rgb: var(--color-primary-rgb);
  --ion-color-primary-contrast: var(--color-primary-contrast);
  --ion-color-primary-contrast-rgb: var(--color-primary-contrast-rgb);
  --ion-color-primary-shade: var(--color-primary-shade);
  --ion-color-primary-tint: var(--color-primary-tint);

  /** secondary **/
  --ion-color-secondary: var(--color-secondary);
  --ion-color-secondary-rgb: var(--color-secondary-rgb);
  --ion-color-secondary-contrast: var(--color-secondary-contrast);
  --ion-color-secondary-contrast-rgb: var(--color-secondary-contrast-rgb);
  --ion-color-secondary-shade: var(--color-secondary-shade);
  --ion-color-secondary-tint: var(--color-secondary-tint);

  /** tertiary **/
  --ion-color-tertiary: var(--color-tertiary);
  --ion-color-tertiary-rgb: var(--color-tertiary-rgb);
  --ion-color-tertiary-contrast: var(--color-tertiary-contrast);
  --ion-color-tertiary-contrast-rgb: var(--color-tertiary-contrast-rgb);
  --ion-color-tertiary-shade: var(--color-tertiary-shade);
  --ion-color-tertiary-tint: var(--color-tertiary-tint);

  /** success **/
  --ion-color-success: var(--color-success);
  --ion-color-success-rgb: var(--color-success-rgb);
  --ion-color-success-contrast: var(--color-success-contrast);
  --ion-color-success-contrast-rgb: var(--color-success-contrast-rgb);
  --ion-color-success-shade: var(--color-success-shade);
  --ion-color-success-tint: var(--color-success-tint);

  /** warning **/
  --ion-color-warning: var(--color-warning);
  --ion-color-warning-rgb: var(--color-warning-rgb);
  --ion-color-warning-contrast: var(--color-warning-contrast);
  --ion-color-warning-contrast-rgb: var(--color-warning-contrast-rgb);
  --ion-color-warning-shade: var(--color-warning-shade);
  --ion-color-warning-tint: var(--color-warning-tint);

  /** danger **/
  --ion-color-danger: var(--color-danger);
  --ion-color-danger-rgb: var(--color-danger-rgb);
  --ion-color-danger-contrast: var(--color-danger-contrast);
  --ion-color-danger-contrast-rgb: var(--color-danger-contrast-rgb);
  --ion-color-danger-shade: var(--color-danger-shade);
  --ion-color-danger-tint: var(--color-danger-tint);

  /** dark **/
  --ion-color-dark: var(--color-dark);
  --ion-color-dark-rgb: var(--color-dark-rgb);
  --ion-color-dark-contrast: var(--color-dark-contrast);
  --ion-color-dark-contrast-rgb: var(--color-dark-contrast-rgb);
  --ion-color-dark-shade: var(--color-dark-shade);
  --ion-color-dark-tint: var(--color-dark-tint);

  /** medium **/
  --ion-color-medium: var(--color-medium);
  --ion-color-medium-rgb: var(--color-medium-rgb);
  --ion-color-medium-contrast: var(--color-medium-contrast);
  --ion-color-medium-contrast-rgb: var(--color-medium-contrast-rgb);
  --ion-color-medium-shade: var(--color-medium-shade);
  --ion-color-medium-tint: var(--color-medium-tint);

  /** light **/
  --ion-color-light: var(--color-light);
  --ion-color-light-rgb: var(--color-light-rgb);
  --ion-color-light-contrast: var(--color-light-contrast);
  --ion-color-light-contrast-rgb: var(--color-light-contrast-rgb);
  --ion-color-light-shade: var(--color-light-shade);
  --ion-color-light-tint: var(--color-light-tint);
}

// @media (prefers-color-scheme: dark) {
//   /*
//    * Dark Colors
//    * -------------------------------------------
//    */

//   body {
//     --ion-color-primary: var(--dark-theme-color-primary);
//     --ion-color-primary-rgb: var(--dark-theme-color-primary-rgb);
//     --ion-color-primary-contrast: var(--dark-theme-color-primary-contrast);
//     --ion-color-primary-contrast-rgb: var(--dark-theme-color-primary-contrast-rgb);
//     --ion-color-primary-shade: var(--dark-theme-color-primary-shade);
//     --ion-color-primary-tint: var(--dark-theme-color-primary-tint);

//     --ion-color-secondary: var(--dark-theme-color-secondary);
//     --ion-color-secondary-rgb: var(--dark-theme-color-secondary-rgb);
//     --ion-color-secondary-contrast: var(--dark-theme-color-secondary-contrast);
//     --ion-color-secondary-contrast-rgb: var(--dark-theme-color-secondary-contrast-rgb);
//     --ion-color-secondary-shade: var(--dark-theme-color-secondary-shade);
//     --ion-color-secondary-tint: var(--dark-theme-color-secondary-tint);

//     --ion-color-tertiary: var(--dark-theme-color-tertiary);
//     --ion-color-tertiary-rgb: var(--dark-theme-color-tertiary-rgb);
//     --ion-color-tertiary-contrast: var(--dark-theme-color-tertiary-contrast);
//     --ion-color-tertiary-contrast-rgb: var(--dark-theme-color-tertiary-contrast-rgb);
//     --ion-color-tertiary-shade: var(--dark-theme-color-tertiary-shade);
//     --ion-color-tertiary-tint: var(--dark-theme-color-tertiary-tint);

//     --ion-color-success: var(--dark-theme-color-success);
//     --ion-color-success-rgb: var(--dark-theme-color-success-rgb);
//     --ion-color-success-contrast: var(--dark-theme-color-success-contrast);
//     --ion-color-success-contrast-rgb: var(--dark-theme-color-success-contrast-rgb);
//     --ion-color-success-shade: var(--dark-theme-color-success-shade);
//     --ion-color-success-tint: var(--dark-theme-color-success-tint);

//     --ion-color-warning: var(--dark-theme-color-warning);
//     --ion-color-warning-rgb: var(--dark-theme-color-warning-rgb);
//     --ion-color-warning-contrast: var(--dark-theme-color-warning-contrast);
//     --ion-color-warning-contrast-rgb: var(--dark-theme-color-warning-contrast-rgb);
//     --ion-color-warning-shade: var(--dark-theme-color-warning-shade);
//     --ion-color-warning-tint: var(--dark-theme-color-warning-tint);

//     --ion-color-danger: var(--dark-theme-color-danger);
//     --ion-color-danger-rgb: var(--dark-theme-color-danger-rgb);
//     --ion-color-danger-contrast: var(--dark-theme-color-danger-contrast);
//     --ion-color-danger-contrast-rgb: var(--dark-theme-color-danger-contrast-rgb);
//     --ion-color-danger-shade: var(--dark-theme-color-danger-shade);
//     --ion-color-danger-tint: var(--dark-theme-color-danger-tint);

//     --ion-color-dark: var(--dark-theme-color-dark);
//     --ion-color-dark-rgb: var(--dark-theme-color-dark-rgb);
//     --ion-color-dark-contrast: var(--dark-theme-color-dark-contrast);
//     --ion-color-dark-contrast-rgb: var(--dark-theme-color-dark-contrast-rgb);
//     --ion-color-dark-shade: var(--dark-theme-color-dark-shade);
//     --ion-color-dark-tint: var(--dark-theme-color-dark-tint);

//     --ion-color-medium: var(--dark-theme-color-medium);
//     --ion-color-medium-rgb: var(--dark-theme-color-medium-rgb);
//     --ion-color-medium-contrast: var(--dark-theme-color-medium-contrast);
//     --ion-color-medium-contrast-rgb: var(--dark-theme-color-medium-contrast-rgb);
//     --ion-color-medium-shade: var(--dark-theme-color-medium-shade);
//     --ion-color-medium-tint: var(--dark-theme-color-medium-tint);

//     --ion-color-light: var(--dark-theme-color-light);
//     --ion-color-light-rgb: var(--dark-theme-color-light-rgb);
//     --ion-color-light-contrast: var(--dark-theme-color-light-contrast);
//     --ion-color-light-contrast-rgb: var(--dark-theme-color-light-contrast-rgb);
//     --ion-color-light-shade: var(--dark-theme-color-light-shade);
//     --ion-color-light-tint: var(--dark-theme-color-light-tint);
//   }

//   /*
//    * iOS Dark Theme
//    * -------------------------------------------
//    */

//   .ios body {
//     --ion-background-color: #000000;
//     --ion-background-color-rgb: 0,0,0;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-color-step-50: #0d0d0d;
//     --ion-color-step-100: #1a1a1a;
//     --ion-color-step-150: #262626;
//     --ion-color-step-200: #333333;
//     --ion-color-step-250: #404040;
//     --ion-color-step-300: #4d4d4d;
//     --ion-color-step-350: #595959;
//     --ion-color-step-400: #666666;
//     --ion-color-step-450: #737373;
//     --ion-color-step-500: #808080;
//     --ion-color-step-550: #8c8c8c;
//     --ion-color-step-600: #999999;
//     --ion-color-step-650: #a6a6a6;
//     --ion-color-step-700: #b3b3b3;
//     --ion-color-step-750: #bfbfbf;
//     --ion-color-step-800: #cccccc;
//     --ion-color-step-850: #d9d9d9;
//     --ion-color-step-900: #e6e6e6;
//     --ion-color-step-950: #f2f2f2;

//     --ion-item-background: #000000;

//     --ion-card-background: #1c1c1d;
//   }

//   .ios ion-modal {
//     --ion-background-color: var(--ion-color-step-100);
//     --ion-toolbar-background: var(--ion-color-step-150);
//     --ion-toolbar-border-color: var(--ion-color-step-250);
//   }


//   /*
//    * Material Design Dark Theme
//    * -------------------------------------------
//    */

//   .md body {
//     --ion-background-color: #121212;
//     --ion-background-color-rgb: 18,18,18;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-border-color: #222222;

//     --ion-color-step-50: #1e1e1e;
//     --ion-color-step-100: #2a2a2a;
//     --ion-color-step-150: #363636;
//     --ion-color-step-200: #414141;
//     --ion-color-step-250: #4d4d4d;
//     --ion-color-step-300: #595959;
//     --ion-color-step-350: #656565;
//     --ion-color-step-400: #717171;
//     --ion-color-step-450: #7d7d7d;
//     --ion-color-step-500: #898989;
//     --ion-color-step-550: #949494;
//     --ion-color-step-600: #a0a0a0;
//     --ion-color-step-650: #acacac;
//     --ion-color-step-700: #b8b8b8;
//     --ion-color-step-750: #c4c4c4;
//     --ion-color-step-800: #d0d0d0;
//     --ion-color-step-850: #dbdbdb;
//     --ion-color-step-900: #e7e7e7;
//     --ion-color-step-950: #f3f3f3;

//     --ion-item-background: #1e1e1e;

//     --ion-toolbar-background: #1f1f1f;

//     --ion-tab-bar-background: #1f1f1f;

//     --ion-card-background: #1e1e1e;
//   }
// }
