.profile-icons-container {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    width: 84px; // sum of the width of each icon plus 3px in between each.
}

.profile-images {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}