<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom" [ngClass]="{'hide-nav-bar': hideNavBar}">
      
      <ion-tab-button routerLink="community/events" routerLinkActive #eventsRoute="routerLinkActive">
        <ion-icon *ngIf="eventsRoute.isActive" name="today" color="primary"></ion-icon>
        <ion-icon *ngIf="!eventsRoute.isActive" name="today-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button routerLink="community/groups" routerLinkActive #groupsRoute="routerLinkActive">
        <ion-icon *ngIf="groupsRoute.isActive" name="people-circle" color="primary"></ion-icon>
        <ion-icon *ngIf="!groupsRoute.isActive" name="people-circle-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button routerLink="profile" routerLinkActive #profileRoute="routerLinkActive">
        <ion-icon *ngIf="profileRoute.isActive" name="person-circle" color="primary"></ion-icon>
        <ion-icon *ngIf="!profileRoute.isActive" name="person-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
