<ion-header collapse="fade" mode="ios">
    <ion-toolbar class="purple-background" mode="ios">
      <ion-title color="light">Create Group</ion-title>
    </ion-toolbar>
</ion-header>

<ion-header collapse="condense" mode="ios">
    <ion-toolbar class="purple-background" mode="ios">
        <div class="header">
            <div class="back-icon">
                <olii-icon-with-off-white-square-background name="arrow-back" routerLink="/community/groups"></olii-icon-with-off-white-square-background>
            </div>
            <h2 class="color-light">Create Group</h2>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="createGroupForm">
        <h4 class="form-label">Group Details</h4>
        <ion-item>
            <ion-input color="tertiary" mode="ios" type="text" placeholder="Group Name" formControlName="name"></ion-input>
        </ion-item>
        <ion-note
            color="danger"
            *ngIf="createGroupForm.controls.name.touched && !createGroupForm.controls.name.valid">
            Group name must be at least 5 characters long
        </ion-note>

        <ion-item>
            <ion-input color="tertiary" mode="ios" type="text" placeholder="Group Description" formControlName="description"></ion-input>
        </ion-item>
        <ion-note
            color="danger"
            *ngIf="createGroupForm.controls.description.touched && !createGroupForm.controls.description.valid">
            Group description must be at lease 8 characters long
        </ion-note>

        <!-- <h4 class="form-label">Group Visibility</h4>

        <ion-radio-group formControlName="privacyLevel" class="ion-margin-top">
            <ion-item>
                <ion-label class="visibility-label" color="tertiary" mode="ios">Public</ion-label>
                <ion-radio slot="end" color="primary" value='Public' mode="md"></ion-radio>
                <ion-label class="visibility-descr" color="medium" position="stacked" mode="ios">Anyone can view posts in the group</ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="visibility-label" color="tertiary" mode="ios">Private</ion-label>
                <ion-radio slot="end" color="primary" value='Private' mode="md"></ion-radio>
                <ion-label class="visibility-descr" color="medium" position="stacked" mode="ios">Only members can view posts in the group</ion-label>
            </ion-item>
        </ion-radio-group> -->

    </form>
    
    <h4 class="form-label">Add Cover Image</h4>
    <div class="group-picture-container">
        <div class="add-image" *ngIf="this.groupCoverImage" (click)="setGroupPicture()">
            <div class="group-picture">
                <olii-container-cover-image [imageUrl]="sanitizeUrl(groupCoverImage.webPath)"></olii-container-cover-image>  
            </div>
        </div>
        <div class="add-image" *ngIf="this.groupCoverImage == null" (click)="setGroupPicture()">
            <olii-base-icon name="add-circle-outline" color="primary"></olii-base-icon>
        </div>
    </div>

    <ion-button type="submit" expand="block" [disabled]="createGroupForm.invalid || this.groupCoverImage == null || loadingButton" mode="ios">
        <span *ngIf="!loadingButton">Create Event</span>
        <ion-spinner *ngIf="loadingButton"></ion-spinner>
    </ion-button>

</ion-content>