ion-content {
    --padding-top: 0.5rem;
    --padding-start: 0.5rem;
    --padding-end: 0.5rem;
}

ion-toolbar.purple-background {
    --background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);

    .header {
        display: flex;
        align-items: center;

        h1 {
            margin-left: 14vw;
            margin-right: auto;
        }
    }
}

ion-header {
    background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
}

ion-item {
    --padding-start: 0;
    margin-bottom: 0.5rem;
}

.section-title {
    color: var(--color-primary-contrast);
}

.back-icon {
    margin: 0 0 0 1rem;
    color: var(--color-primary);
}

.form-label {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.visibility-label {
    font-weight: bold;
}

.visibility-descr {
    font-size: 0.7rem;
}

.group-cover-image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 1rem auto;

    olii-responsive-aspect-ratio-container {
        position: relative;
    
        ion-badge {
            --background: #F2EFFF;
            --color: var(--color-primary);
            position: absolute;
            top: 0px;
            right: 0px;
            margin-top: -5px;
            margin-right: -5px;
            border-radius: 100%;
            display: flex;
            align-items: center;
        }
    }
}

.add-image {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;

    olii-base-icon {
        background-color: rgba(var(--color-primary-rgb), 0.125);
        border-radius: 3px;
        line-height: 0;
        padding: 0.75rem;
    }
}
olii-base-icon {
    background-color: rgba(var(--color-primary-rgb), 0.125);
    border-radius: 3px;
    line-height: 0;
    padding: 0.75rem;
}
