ion-content {
    --padding-top: 1rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
}

ion-toolbar.purple-background {
    --background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);

    .header {
        display: flex;
        align-items: center;

        h2 {
            margin-left: 22vw;
            margin-right: auto;
        }
    }
}

ion-header {
    background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
}


.section-title {
    color: var(--color-primary-contrast);
}

.back-icon {
    margin: 0 0 0 1rem;
    color: var(--color-primary);
}

.member-section-heading {
    margin-bottom: 1rem;
}

hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #eee;
  }

.group-member-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.member-image {
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
}

.member-name {
    align-self: center;
}