<olii-collapsible-purple-header-with-one-button-section-one
    buttonPosition="start"
    title="Members"
    iconName="arrow-back"
    (buttonClickEventEmitter)="navigateBack()">
</olii-collapsible-purple-header-with-one-button-section-one>

<ion-content>
    <olii-collapsible-purple-header-with-one-button-section-two
        buttonPosition="start"
        title="Members"
        iconName="arrow-back"
        (buttonClickEventEmitter)="navigateBack()">
    </olii-collapsible-purple-header-with-one-button-section-two>

    <div class="content">
        <h4 class="member-section-heading">Admins</h4>
        <hr>
        <div class="group-member-container" *ngFor="let memberAdmin of group.Admins" (click)="navigateToUserProfile(memberAdmin.ProfileId)">
            <div class="member-image">
                <olii-container-cover-image [imageUrl]="memberAdmin.ProfilePictureUrl" boarderRadius="50%"></olii-container-cover-image>
            </div>
            <div class="member-name">{{memberAdmin.FirstName}} {{memberAdmin.LastName}}</div>
        </div>

        <h4 class="member-section-heading">Members</h4>
        <hr>
        <div class="group-member-container" *ngFor="let member of group.MembersPreview" (click)="navigateToUserProfile(member.ProfileId)">
            <div class="member-image">
                <olii-container-cover-image [imageUrl]="member.ProfilePictureUrl" boarderRadius="50%"></olii-container-cover-image>
            </div>
            <div class="member-name">{{member.FirstName}} {{member.LastName}}</div>
        </div>
    </div>
</ion-content>