ion-content {
    --padding-top: 1rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
}

ion-toolbar.purple-background {
    --background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
    --padding-start: 0.75rem;
    --padding-end: 0.75rem;
    --padding-bottom: 0.5rem;

    .header {
        display: flex;
        align-items: center;

        .back {
            margin-right: auto;
            color: var(--color-primary);
        }

        h2 {
            margin-right: auto;
            margin-left: -6vw;
        }
    }
}

ion-header {
    background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
}

.section-title {
    color: var(--color-primary-contrast);
}

.member-section-heading {
    margin-bottom: 1rem;
}

hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #eee;
  }

.group-member-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.member-image {
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
}

.member-name {
    align-self: center;
}