<ion-header collapse="fade" mode="ios">
    <ion-toolbar class="purple-background" mode="ios">
      <ion-title color="light">Members</ion-title>
    </ion-toolbar>
</ion-header>

<ion-header collapse="condense" mode="ios">
    <ion-toolbar class="purple-background" mode="ios">
        <div class="header">
            <div class="back-icon">
                <olii-icon-with-off-white-square-background name="arrow-back" routerLink="/community/groups/group/{{getGroupId()}}"></olii-icon-with-off-white-square-background>
            </div>
            <h2 class="color-light">Members</h2>
        </div>
    </ion-toolbar>
</ion-header>

<!--ion-toolbar color="primary" mode="ios">
    <ion-title>
        <h2 class="section-title">Members</h2>
    </ion-title>

    <div class="back-icon">
        <olii-icon-with-off-white-square-background name="arrow-back" routerLink="/community/groups/group/{{getGroupId()}}"></olii-icon-with-off-white-square-background>
    </div>
</ion-toolbar-->

<ion-content>

    <h4 class="member-section-heading">Admins</h4>
        <div class="group-member-container" *ngFor="let memberAdmin of group.Admins" (click)="navigateToUserProfile(memberAdmin.Id)">
            <div class="member-image">
                <!-- TODO-L8: Should link profile preview to the poster's profile for admins and members sections. -->
                <olii-container-cover-image [imageUrl]="memberAdmin.ProfilePictureUrl" boarderRadius="50%"></olii-container-cover-image>
            </div>
            <div class="member-name">{{memberAdmin.FirstName}} {{memberAdmin.LastName}}</div>
        </div>
    <hr>

    <h4 class="member-section-heading">Members</h4>
        <div class="group-member-container" *ngFor="let member of group.Members" (click)="navigateToUserProfile(member.Id)">
            <div class="member-image">
                <olii-container-cover-image [imageUrl]="member.ProfilePictureUrl" boarderRadius="50%"></olii-container-cover-image>
            </div>
            <div class="member-name">{{member.FirstName}} {{member.LastName}}</div>
        </div>
    <hr>

</ion-content>