@import '/src/global.scss';

/* Text Color */
.dark {
    color: var(--color-primary);
}

.black {
    color: var(--color-dark);
}

.gray {
    color: var(--color-medium);
}

/* Text Size */
.extra-small {
    @extend %font-body-xs;
}

.small {
    @extend %font-body-s;
}

.medium {
    @extend %font-body-m;
}