<ion-content>
  <form [formGroup]="registerFlowForm">
    <ion-slides #slider [options]="slideOptions">
      <ion-slide>
        <div class="first-slide">
          <img src="../../assets/logos/OliiWithPurpleBG.png" alt="">
          <div class="slide-text">
            <h3>We are almost done!</h3>
            <p class="color-medium font-thin">To have a more personalized experience, we recommend adding some additional information</p>
          </div>
          <ng-container [ngTemplateOutlet]="navigationButtons"></ng-container>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <div class="header">
            <olii-icon-with-purple-square-background class="back" size="medium" name="arrow-back" (click)="previousSlide()"></olii-icon-with-purple-square-background>
            <ion-progress-bar mode="md" value="0.25"></ion-progress-bar>
          </div>
          <div class="slide-content">
            <div class="slide-text">
              <h3>Personal Information</h3>
              <p class="color-medium font-thin">Help others recognize you.</p>
            </div>
            <div class="personal-info-inputs">
              <ion-item>
                <ion-input formControlName="firstName" type="text" placeholder="First Name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input formControlName="lastName" type="text" placeholder="Last Name"></ion-input>
            </ion-item>
            </div>
            <ng-container [ngTemplateOutlet]="navigationButtons"></ng-container>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <div class="header">
            <olii-icon-with-purple-square-background class="back" size="medium" name="arrow-back" (click)="previousSlide()"></olii-icon-with-purple-square-background>
            <ion-progress-bar mode="md" value="0.5"></ion-progress-bar>
          </div>
          <div class="slide-content">
            <div class="slide-text">
              <h3>Location</h3>
              <p class="color-medium font-thin">This is used to see how close you are to other students. It also allows us to show the most relevant content close to you.</p>
            </div>
            <div class="location-inputs">
              <olii-places-autocomplete-field (autocompletedResult)="setHostLocation($event)" [responseType]="['(cities)']" [responseFieldType]="['name']" placeholder="Host City"></olii-places-autocomplete-field>
              <olii-places-autocomplete-field (autocompletedResult)="setHomeLocation($event)" [responseType]="['country']" [responseFieldType]="['name']" placeholder="Home Country"></olii-places-autocomplete-field>
            </div>
            <ng-container [ngTemplateOutlet]="navigationButtons"></ng-container>
          </div>
        </div>
      </ion-slide>
      <!-- <ion-slide>
          <h2>Interests</h2>
      </ion-slide> -->
      <ion-slide>
        <div class="slide">
          <div class="header">
            <olii-icon-with-purple-square-background class="back" size="medium" name="arrow-back" (click)="previousSlide()"></olii-icon-with-purple-square-background>
            <ion-progress-bar mode="md" value="0.75"></ion-progress-bar>
          </div>
          <div class="slide-content">
            <div class="slide-text">
              <h3>Profile</h3>
              <p class="color-medium font-thin">Add images and a bio so others can get to know you.</p>
            </div>
            <div class="profile-inputs">
              <div class="profile-image">
                <olii-container-cover-image imageUrl="../../../../assets/images/placeholder-profile-image.png" boarderRadius="50%"></olii-container-cover-image>  
                <div class="font-body-s"><a>Add profile picture</a></div>
              </div>
              <ion-item>
                <ion-textarea formControlName="bio" placeholder="Write your profile bio here"></ion-textarea>
              </ion-item>
              <div class="font-body-m color-tertiary">Choose up to 9 pictures for your profile:</div>
              <div class="profile-images-container">
                
              </div>
            </div>
            <ng-container [ngTemplateOutlet]="navigationButtons"></ng-container>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <div class="header">
            <olii-icon-with-purple-square-background class="back" size="medium" name="arrow-back" (click)="previousSlide()"></olii-icon-with-purple-square-background>
            <ion-progress-bar mode="md" value="1"></ion-progress-bar>
          </div>
          <div class="slide-content">
            <div class="slide-text">
              <h3>All done!</h3>
              <p class="color-medium font-thin">Ready to get started?</p>
            </div>
            <olii-blue-circle-background>
              <olii-base-icon name="checkmark-circle-outline" color="primary" size="hero"></olii-base-icon>
            </olii-blue-circle-background>
            <p>Create awesome memories and meet new exchange students</p>
            <ion-button mode="ios" (click)="submit()">Done</ion-button>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    </form>
</ion-content>

<ng-template #navigationButtons>
  <div class="navigation-buttons">
    <ion-button class="next" mode="ios" (click)="nextSlide()">Next</ion-button>
    <a class="later" (click)="submit()"><h4>Continue later</h4></a>
  </div>
</ng-template>