<ion-content>
  <form [formGroup]="registerFlowForm">
    <ion-slides #slider [options]="slideOptions">
      <ion-slide>
        <div class="first-slide">
          <img src="../../assets/logos/OliiWithPurpleBG.png" alt="">
          <div class="slide-text">
            <h3>We are almost done!</h3>
            <p class="color-medium font-thin">To have a more personalized experience, we recommend adding some additional information</p>
          </div>
          <ng-container [ngTemplateOutlet]="navigationButtons"></ng-container>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <div class="header">
            <olii-icon-with-purple-square-background class="back" size="medium" name="arrow-back" (click)="previousSlide()"></olii-icon-with-purple-square-background>
            <ion-progress-bar mode="md" value="0.25"></ion-progress-bar>
          </div>
          <div class="slide-content">
            <div class="slide-text">
              <h3>Personal Information</h3>
              <p class="color-medium font-thin">Help others recognize you.</p>
            </div>
            <div class="personal-info-inputs">
              <ion-item>
                <ion-input formControlName="firstName" type="text" placeholder="First Name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input formControlName="lastName" type="text" placeholder="Last Name"></ion-input>
            </ion-item>
            </div>
            <ng-container [ngTemplateOutlet]="navigationButtons"></ng-container>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <div class="header">
            <olii-icon-with-purple-square-background class="back" size="medium" name="arrow-back" (click)="previousSlide()"></olii-icon-with-purple-square-background>
            <ion-progress-bar mode="md" value="0.5"></ion-progress-bar>
          </div>
          <div class="slide-content">
            <div class="slide-text">
              <h3>Location</h3>
              <p class="color-medium font-thin">This is used to see how close you are to other students. It also allows us to show the most relevant content close to you.</p>
            </div>
            <div class="location-inputs">
              <ion-item>
                <ion-input>
                  <olii-places-autocomplete-field (autocompletedResult)="setHostCity($event)" [responseType]="['(cities)']" [responseFieldType]="['vicinity']" placeholder="Host City"></olii-places-autocomplete-field>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input>
                  <olii-places-autocomplete-field (autocompletedResult)="setHostCountry($event)" [responseType]="['country']" [responseFieldType]="['formatted_address']" placeholder="Host Country"></olii-places-autocomplete-field>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input>
                  <olii-places-autocomplete-field (autocompletedResult)="setHomeLocation($event)" [responseType]="['country']" [responseFieldType]="['formatted_address']" placeholder="Home Country"></olii-places-autocomplete-field>
                </ion-input>
              </ion-item>
            </div>
            <ng-container [ngTemplateOutlet]="navigationButtons"></ng-container>
          </div>
        </div>
      </ion-slide>
      <!-- <ion-slide>
          <h1>Interests</h1>
      </ion-slide> -->
      <ion-slide>
        <div class="slide">
          <div class="header">
            <olii-icon-with-purple-square-background class="back" size="medium" name="arrow-back" (click)="previousSlide()"></olii-icon-with-purple-square-background>
            <ion-progress-bar mode="md" value="0.75"></ion-progress-bar>
          </div>

          <div class="slide-content">
            <div class="slide-text">
              <h3>Profile</h3>
              <p class="color-medium font-thin">Add images and a bio so others can get to know you.</p>
            </div>

            <div class="profile-inputs">
              <div class="profile-picture-container" (click)="setProfilePicture()">
                <div class="profile-picture">
                  <olii-container-cover-image [imageUrl]="sanitizeUrl(profilePicture.webPath)" boarderRadius="50%"></olii-container-cover-image>  
                  <!-- <img [src]="profilePicture.webPath" alt=""> -->
                </div>
                <p class="font-body-s color-tertiary">Add profile picture</p>
              </div>

              <ion-item>
                <ion-textarea formControlName="bio" placeholder="Write your profile bio here"></ion-textarea>
              </ion-item>

              <p class="font-body-s color-tertiary">Choose up to 9 pictures for your profile from your photos library</p>
              <div class="add-image" *ngIf="profileImages.length < 9" (click)="addProfileImages()">
                <olii-base-icon name="add-circle-outline" color="primary"></olii-base-icon>
              </div>
              <div *ngIf="profileImages.length > 0" class="profile-images-container">
                <div *ngFor="let profileImage of profileImages; let i = index" class="profile-image">
                  <olii-responsive-aspect-ratio-container aspectRatio="1/1">
                    <ion-badge (click)="removeProfileImage(i)"><ion-icon name="close"></ion-icon></ion-badge>
                    <olii-container-cover-image [imageUrl]="sanitizeUrl(profileImage.webPath)" boarderRadius="5%"></olii-container-cover-image>
                  </olii-responsive-aspect-ratio-container>
                </div>
              </div>
            </div>
            
            <ng-container [ngTemplateOutlet]="navigationButtons"></ng-container>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <div class="header">
            <olii-icon-with-purple-square-background class="back" size="medium" name="arrow-back" (click)="previousSlide()"></olii-icon-with-purple-square-background>
            <ion-progress-bar mode="md" value="1"></ion-progress-bar>
          </div>
          <div class="slide-content">
            <div class="slide-text">
              <h3>All done!</h3>
              <p class="color-medium font-thin">Ready to get started?</p>
            </div>
            <olii-blue-circle-background>
              <olii-base-icon name="checkmark-circle-outline" color="primary" size="hero"></olii-base-icon>
            </olii-blue-circle-background>
            <p>Create awesome memories and meet new exchange students</p>
            <ion-button mode="ios" (click)="submit()" [disabled]="loadingButton">
              <span *ngIf="!loadingButton">Done</span>
              <ion-spinner *ngIf="loadingButton"></ion-spinner>
            </ion-button>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    </form>
</ion-content>

<ng-template #navigationButtons>
  <div class="navigation-buttons-container">
    <div class="navigation-buttons">
      <ion-button class="next" mode="ios" (click)="nextSlide()">Next</ion-button>
      <a *ngIf="!loadingButton" class="later" (click)="submit()"><h4>Continue later</h4></a>
      <ion-spinner *ngIf="loadingButton"></ion-spinner>
    </div>
  </div>
</ng-template>