.first-slide {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-top: 15vh;

    img {
        size: 50%;
    }

}

.slide-text {
    display: flex;
    flex-direction: column;
    margin: 0rem 0.5rem;

    p {
        font-weight: 100;
    }
}

.slide {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 100%;
    margin: 0rem 1rem;
    
    .header {
        display: flex;
        margin-top: 4vh;
        align-items: center;

        .back {
            margin-left: auto;
        }

        ion-progress-bar {
            display: unset;
            width: 80%;
            margin: auto;
            border-radius: 5px;
        }
    }

    .slide-content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        min-height: 73vh;
    }
}

.profile-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .profile-picture-container {
        margin: 0 auto 0 auto;

        .profile-picture {
            height: 100px;
            width: 100px;
            margin-bottom: 8px;
        }
    }

    .add-image {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;

        olii-base-icon {
            background-color: rgba(var(--color-primary-rgb), 0.125);
            border-radius: 3px;
            line-height: 0;
            padding: 0.75rem;
        }
    }

    .profile-images-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .profile-image {
            width: 32%;

            olii-responsive-aspect-ratio-container {
                position: relative;
        
                ion-badge {
                    --background: #F2EFFF;
                    --color: var(--color-primary);
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    margin-top: -5px;
                    margin-right: -5px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
}

.navigation-buttons-container {
    margin-top: auto;

    .navigation-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75rem;
        
        .later {
            color: var(--color-tertiary);
        }
    }
}

ion-button {
    --padding-start: 3.5rem;
    --padding-end: 3.5rem;
}
