ion-toolbar.purple-background {
    --background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
    --padding-start: 0.75rem;
    --padding-end: 0.75rem;
    --padding-bottom: 0.5rem;

    .header {
        display: flex;
        align-items: center;

        .back {
            margin-right: auto;
        }

        h1 {
            margin-right: auto;
        }
    }
}

ion-header {
    background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0.5rem 1rem 0.5rem;
    
    .icon-spacer {
        olii-icon-with-purple-square-background {
            margin-right: 4px;
        }
    }

    .location {
        capacitor-google-map {
            display: inline-block;
            height: 20vh;
            width: 100%;
        }
    }

    .privacy-level {

        ion-item {
            div {
                display: flex;
                flex-direction: column;
            }
        }
        
        .visibility-label {
            font-weight: bold;
        }
        
        .visibility-description {
            font-size: 0.75rem;
        }
    }

    .add-image {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;

        olii-base-icon {
            background-color: rgba(var(--color-primary-rgb), 0.125);
            border-radius: 3px;
            line-height: 0;
            padding: 0.75rem;
        }
    }

    olii-responsive-aspect-ratio-container {
        position: relative;

        ion-badge {
            --background: #F2EFFF;
            --color: var(--color-primary);
            position: absolute;
            top: 0px;
            right: 0px;
            margin-top: -5px;
            margin-right: -5px;
            border-radius: 100%;
            display: flex;
            align-items: center;
        }
    }
}
