<ion-header collapse="fade" mode="ios">
    <ion-toolbar class="purple-background" mode="ios">
      <ion-title color="light">My Groups</ion-title>
    </ion-toolbar>
</ion-header>

<ion-header collapse="condense" mode="ios">
    <ion-toolbar class="purple-background" mode="ios">
        <div class="header">
            <div class="back">
                <olii-icon-with-off-white-square-background name="arrow-back" routerLink="/community/groups"></olii-icon-with-off-white-square-background>
            </div>
            <h1 class="color-light">My Groups</h1>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="groups-container">
        <olii-group-card *ngFor="let group of groups" aspectRatio="1/1" [group]="group" [routerLink]="['../group', group.GroupId]">
        </olii-group-card>
    </div>
</ion-content>