<olii-collapsible-purple-header-with-one-button-section-one buttonPosition="start" title="My Groups" iconName="arrow-back" (buttonClickEventEmitter)="navigateToGroupsPage()">
</olii-collapsible-purple-header-with-one-button-section-one>

<ion-content>
    <olii-collapsible-purple-header-with-one-button-section-two buttonPosition="start" title="My Groups" iconName="arrow-back" (buttonClickEventEmitter)="navigateToGroupsPage()">
    </olii-collapsible-purple-header-with-one-button-section-two>

    <div class="groups-container">
        <olii-group-card *ngFor="let group of groups$ | async" aspectRatio="1/1" [group]="group" [routerLink]="['../group', group.GroupId]">
        </olii-group-card>
    </div>
</ion-content>