<ion-content>
    <div class="cover-image" [style]="{'--background': 'url(\'' + event.CoverImageUrl + '\')' }">
        <div class="header-icons">
            <olii-icon-with-off-white-square-background (click)="navigateBack()" name="arrow-back"></olii-icon-with-off-white-square-background>
            <olii-icon-with-off-white-square-background routerLink="./edit" name="ellipsis-vertical-circle-outline"></olii-icon-with-off-white-square-background>
        </div>
    </div>

    <div class="event-container">
        <div class="event-details">
            <div class="event-details-header">
                <h3>{{ event.Title }}</h3>
                <!-- TODO: Make a method to determine what type of creator this is and then navigate to the profile or group page. -->
                <div class="creator" [routerLink]="['/profile', { queryParams: { profileId: event.Creator.CreatorId } }]">
                    <ion-avatar>
                        <img [src]="event.Creator.ImageUrl">
                    </ion-avatar>
                    <p class="color-tertiary font-body-l">{{ event.Creator.DisplayName }}</p>
                </div>
            </div>
            <div class="description">
                <h4>Description</h4>
                <p class="color-tertiary">{{ event.Description }}</p>
            </div>
            <div class="date-time-location-container">
                <div class="date-time">
                    <div class="date">
                        <olii-icon-with-purple-square-background name="calendar-clear-outline"></olii-icon-with-purple-square-background>
                        <div class="color-tertiary">{{ event.Date | date: 'EE, MMM d' }}</div>
                    </div>
                    <div class="time">
                        <olii-icon-with-purple-square-background name="time-outline"></olii-icon-with-purple-square-background>
                        <div class="color-tertiary">{{ event.Date | date: 'h:mm a' }}</div>
                    </div>
                </div>
                <div class="location">
                    <olii-icon-with-purple-square-background name="location-outline"></olii-icon-with-purple-square-background>
                    <div class="color-tertiary">{{ event.Location.DisplayName }}</div>
                </div>
            </div>
        </div>
        <div class="rsvp">
            <ion-button *ngIf="!attending" mode="ios" color="primary" (click)="rsvpToEvent()">Attend</ion-button>

            <ion-accordion-group *ngIf="attending" expand="inset" mode="md">
                <ion-accordion value="first">
                  <ion-item slot="header" color="light">
                    <ion-label>Attending</ion-label>
                  </ion-item>
                  <div class="ion-padding" slot="content" (click)="cancelRsvpToEvent()">Cancel</div>
                </ion-accordion>
              </ion-accordion-group>
        </div>
        <div *ngIf="attendingProfilePictures.length > 0">
            <div class="attendees-header">
                <h4>Attending</h4>
                <div class="font-body-s color-tertiary" [routerLink]="['/community/events', event.EventId, 'attendees']">See all</div>
            </div>
            <div>
                <olii-profile-preview-icons
                [profilePictureUrls]="attendingProfilePictures.slice(0, 5)"
                profileIconSize="large"
                [additionalDisplayNumber]="attendingProfilePictures.length - 5">
            </olii-profile-preview-icons> 
        </div>
        </div>
        <div class="location">
            <h4>Location</h4>
            <capacitor-google-map #map></capacitor-google-map>
        </div>
        <div *ngIf="event.ImageUrls?.length > 0" class="images">
            <h4>Pictures</h4>
            <div class="images-container">
                <div *ngFor="let imageUrl of event.ImageUrls; let i = index" class="image-container">
                    <olii-responsive-aspect-ratio-container aspectRatio="1/1">
                        <olii-container-cover-image [imageUrl]="imageUrl" boarderRadius="5%" (click)="openImageViewer(i)"></olii-container-cover-image>
                    </olii-responsive-aspect-ratio-container>
                </div>
            </div>
        </div>
    </div>
</ion-content>