@supports (--custom:property) {
    .cover-image {
        height: 30vh;
        width: 100%;
        background-image: var(--background);
        background-position: center center;
        background-attachment: local;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.header-icons {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem 0 1rem;
    color: var(--color-primary);
}

.event-container {
    margin: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h4 {
        margin-bottom: 4px;
    }
    
    .event-details {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .event-details-header {
            h3 {
                text-align: center;
            }
            
            .creator {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                margin-top: 0.75rem;
    
                ion-avatar {
                    height: 2rem;
                    width: 2rem;
                }
            }
        }

        .date-time-location-container {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .date, .time, .location {
                display: flex;
                align-items: center;
                gap: 4px;
            }

            .date-time {
                display: flex;
                justify-content: space-evenly;
                gap: 4px;
                white-space: nowrap;

            }
    
            .location {
                display: flex;
                justify-content: center;
            }
        }
    }

    .location {
        capacitor-google-map {
            display: inline-block;
            height: 20vh;
            width: 100%;
        }
    }

    .rsvp {
        display: flex;
        justify-content: center;

        ion-button {
            --padding-start: 3rem;
            --padding-end: 3rem;
        }
    }

    .attendees-header {
        display: flex;
        justify-content: space-between;
    }

    .images {
        .images-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2px;

            .image-container {
                width: 32%;
            }
        }
    }
}