<ion-content>
    <div class="cover-image" [style]="{'--background': 'url(\'' + event.CoverImageUrl + '\')' }">
        <div class="back-icon" (click)="navigateBack()">
            <olii-icon-with-off-white-square-background name="arrow-back"></olii-icon-with-off-white-square-background>
        </div>
    </div>

    <div class="event-container">
        <div class="event-details">
            <h3>{{ event.Title }}</h3>
            <div class="creator">
                <ion-avatar>
                    <img src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2ZpbGUlMjBwaWN0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60">
                </ion-avatar>
                <p class="color-tertiary">John Doe*</p>
            </div>
            <div class="description">
                <h4>Description</h4>
                <p class="color-tertiary">
                    4 other DJ's will be coming into town so get ready to get LIT!! We will be meeting at Zurich HB 30 minutes prior and then head over together. Bring water because it will get HOT in the building! 
                </p>
            </div>
            <div class="date-time-location">
                <div>
                    <olii-icon-with-purple-square-background name="calendar-clear-outline"></olii-icon-with-purple-square-background>
                    <div class="color-tertiary">July 27</div>
                </div>
                <div>
                    <olii-icon-with-purple-square-background name="time-outline"></olii-icon-with-purple-square-background>
                    <div class="color-tertiary">9:00 PM</div>
                </div>
                <div>
                    <olii-icon-with-purple-square-background name="location-outline"></olii-icon-with-purple-square-background>
                    <div class="color-tertiary">Fake location from Google Maps</div>
                </div>
            </div>
        </div>
        <div class="attendees">
            <olii-profile-preview-icons></olii-profile-preview-icons> 
        </div>
        <div class="location"></div>
        <div class="images"></div>
    </div>
</ion-content>