@import '/src/global.scss';

.settings {
    display: flex;
    justify-content: end;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    color: var(--color-primary);
}

.profile-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.125rem;

    .profile-image {
        height: 100px;
        width: 100px;
    }
    
    .profile-info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        
        .personal-info {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            text-align: center;
        }

        .highlighted-personal-info {
            display: flex;
            justify-content: center;
            gap: 2.5rem;

            .current-city, .connections {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.25rem;
            }
        }
    }
}

.assets {
    padding: 0.5rem;
    background-color: rgba(var(--color-light-rgb), 0.5);

    .menu-bar-container {
        margin: 0 2rem 0.5rem 2rem;
    }
    
    .menu-bar {
        display: flex;
        gap: 2.5rem;
    }
    
    ion-segment-button {
        display: flex;
        align-items: center;
        text-transform: none;

        ion-label {
            font-weight: 600;
        }
    }

    .posts {
        display: grid;
        justify-content: center;
        grid-template-rows: minmax(10vh, 300px) minmax(10vh, 300px) minmax(16vh, 300px) minmax(16vh, 300px);
        grid-template-columns: minmax(33vw, 500px) minmax(33vw, 500px);
        gap: 2px;
    }
}


@media (prefers-color-scheme: dark) {
    .assets {
        background-color: rgba(var(--dark-theme-color-light-rgb), 0.5);
    }
}