<ion-content class="ion-padding-vertical">
    <div class="profile_options">
        <!-- Eventually this will only exist in the profile view of other users; for now it's a toggle to view an other user profile-->
        <div class="back" (click)="viewControl()">
            <olii-base-icon size="medium" color="primary" name="arrow-back-outline"></olii-base-icon>
        </div>
        <div class="settings" [routerLink]="['/profile/edit', profile.Id]">
            <olii-icon-with-purple-square-background size="medium" name="ellipsis-vertical-circle-outline"></olii-icon-with-purple-square-background>
        </div>
    </div>
    <div class="profile-info-container">
        <div class="profile-image">
            <olii-container-cover-image [imageUrl]="profile.ProfilePictureUrl" boarderRadius="50%"></olii-container-cover-image>
        </div>
        <div class="profile-info">
            <div class="personal-info">
                <!-- TOOD: Change these values from being hardcoded to being responsively connected to actual retrieved values -->
                <ion-text color="tertiary"><h3 class="name">John Snow*</h3></ion-text>
                <ion-text color="medium"><div class="username">@thegreatestsnow*</div></ion-text>
                <div class="host-city color-medium">{{ profile.HomeCountry }}</div>
                <div class="bio color-medium">{{ profile.Bio }}</div>
            </div>
            <div class="highlighted-personal-info">
                <div class="current-city">
                    <ion-text color="medium">
                        <h4 class="color-medium">Current City</h4>
                    </ion-text>
                    <ion-text color="tertiary">
                        <p>{{ profile.CurrentCity }}</p>
                    </ion-text>
                </div>
                <div class="connections">
                    <ion-text color="medium">
                        <h4 class="color-medium">Connections</h4>
                    </ion-text>
                    <ion-text color="tertiary">
                        <p>{{ profile.Connections }}</p>
                    </ion-text>
                </div>
            </div>
        </div>
    </div>
    <div class="assets">
        <div class="menu-bar-container">
            <div *ngIf="isActiveUser == true; else elseView">
                <ion-segment mode="md" class="menu-bar" (ionChange)="segmentChanged($event)" [value]="segmentToShow" color="tertiary">
                    <ion-segment-button value="photos" layout="icon-start">
                        <ion-icon name="image-outline"></ion-icon>
                        <ion-label>Photos</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="saved" layout="icon-start">
                        <ion-icon name="heart-outline"></ion-icon>
                        <ion-label>Saved</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </div>
            <ng-template #elseView>
                <ion-button type="button" color="primary" mode="ios" expand="block" (click)="followUser()">
                    <olii-base-icon size="medium" name="people-circle-outline"></olii-base-icon>
                    <div>Follow</div>
                </ion-button>
            </ng-template>
        </div>
        <div *ngIf="segmentToShow === 'photos'" class="posts">
            <olii-responsive-aspect-ratio-container *ngFor="let profileImageUrl of profile.ImageUrls" aspectRatio="1/1" class="image-container">
                <olii-container-cover-image [imageUrl]="profileImageUrl" boarderRadius="5px"></olii-container-cover-image>
            </olii-responsive-aspect-ratio-container>
        </div>
        <div *ngIf="segmentToShow === 'saved'" class="saved">
            <olii-responsive-aspect-ratio-container *ngFor="let album of profile.SavedAlbums" aspectRatio="1/1" class="album-card-container">
                <ion-card button="true" mode="ios" [routerLink]="['/profile/album', profile.Id, album.Id]">
                    <olii-responsive-aspect-ratio-container aspectRatio="1/0.78">
                        <olii-container-cover-image [imageUrl]="album.CoverImageUrl"></olii-container-cover-image>
                    </olii-responsive-aspect-ratio-container>

                    <div class="saved-album-details">
                        <h4>{{ album.Title }}</h4>
                        <div class="color-medium font-body-s">{{ album.PrivacyLevel }}</div>
                    </div>
                </ion-card>
            </olii-responsive-aspect-ratio-container>

            <olii-responsive-aspect-ratio-container aspectRatio="1/1" class="album-card-container">
                <ion-card button="true" mode="ios" class="create-album-card" (click)="openModal()">
                    <div class="content">
                        <ion-icon size="hero" name="add" color="primary"></ion-icon>
                        <h4 class="color-primary">Create album</h4>
                    </div>
                </ion-card>
            </olii-responsive-aspect-ratio-container>
        </div>
    </div>
</ion-content>