<olii-collapsible-purple-header-with-one-button-section-one
    buttonPosition="end"
    title="Events"
    iconName="add"
    (buttonClickEventEmitter)="createEvent()">
</olii-collapsible-purple-header-with-one-button-section-one>

<ion-content>
    <olii-collapsible-purple-header-with-one-button-section-two
        buttonPosition="end"
        title="Events"
        iconName="add"
        (buttonClickEventEmitter)="createEvent()">
    </olii-collapsible-purple-header-with-one-button-section-two>

    <olii-one-rem-spacer></olii-one-rem-spacer>

    <div class="events-container">
        <div class="my-events-header">
            <h3>My events</h3>
            <p routerLink="/community/events/my-events" class="font-body-s color-tertiary">See all</p>
        </div>
        <olii-event-card-list [events$]="myEvents$" alternativeText="RSVP to an event to see it here"></olii-event-card-list>
    </div>

    <olii-one-rem-spacer></olii-one-rem-spacer>

    <div class="events-container">
        <div class="upcoming-events-header">
            <h3>Upcoming events</h3>
        </div>
        <olii-event-card-list [events$]="allEvents$" alternativeText="No upcoming events"></olii-event-card-list>
    </div>
</ion-content>
