ion-header {
    background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);

    ion-toolbar {
        --background: linear-gradient(261.25deg, #7D5FFF -6.29%, #AA52FF 106.29%);
        --padding-end: 0.5rem;
    }
}

.events-container {
    margin: 0rem 0.5rem 0rem 0.5rem;

    .my-events-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .upcoming-events-header {
        margin-bottom: 0.5rem;
    }

    .card-wrapper {
        margin-bottom: 0.5rem;
    }
}