<olii-collapsible-purple-header-with-right-button-section-one title="Events">
</olii-collapsible-purple-header-with-right-button-section-one>

<ion-content>
    <olii-collapsible-purple-header-with-right-button-section-two title="Events" iconName="add" (buttonClickEventEmitter)="createEvent()">
    </olii-collapsible-purple-header-with-right-button-section-two>

    <olii-one-rem-spacer></olii-one-rem-spacer>

    <div class="events-container">
        <div class="my-events-header">
            <h3>My events</h3>
            <p routerLink="/community/events/my-events" class="font-body-s color-tertiary">See all</p>
        </div>
        <div class="card-wrapper" *ngFor="let event of myEvents$ | async">
            <olii-event-card [event]="event" [routerLink]="['/community/events', event.EventId]"></olii-event-card>
        </div>
    </div>

    <olii-one-rem-spacer></olii-one-rem-spacer>

    <div class="events-container">
        <div class="upcoming-events-header">
            <h3>Upcoming events</h3>
        </div>
        <div class="card-wrapper" *ngFor="let event of allEvents$ | async">
            <olii-event-card [event]="event" [routerLink]="['/community/events', event.EventId]"></olii-event-card>
        </div>
    </div>
</ion-content>
