.events-container {
    margin: 0rem 0.5rem 0rem 0.5rem;

    .my-events-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .upcoming-events-header {
        margin-bottom: 0.5rem;
    }

    .card-wrapper {
        margin-bottom: 0.5rem;
    }
}