/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Global variables
:root {
    --color-primary: #7d5fff;
	--color-primary-rgb: 125,95,255;
	--color-primary-contrast: #ffffff;
	--color-primary-contrast-rgb: 255,255,255;
	--color-primary-shade: #6e54e0;
	--color-primary-tint: #8a6fff;

	--color-secondary: #5840b8;
	--color-secondary-rgb: 88,64,184;
	--color-secondary-contrast: #ffffff;
	--color-secondary-contrast-rgb: 255,255,255;
	--color-secondary-shade: #4d38a2;
	--color-secondary-tint: #6953bf;

	--color-tertiary: #301b72;
	--color-tertiary-rgb: 48,27,114;
	--color-tertiary-contrast: #ffffff;
	--color-tertiary-contrast-rgb: 255,255,255;
	--color-tertiary-shade: #2a1864;
	--color-tertiary-tint: #453280;

	--color-success: #6791f9;
	--color-success-rgb: 103,145,249;
	--color-success-contrast: #ffffff;
	--color-success-contrast-rgb: 255,255,255;
	--color-success-shade: #5b80db;
	--color-success-tint: #769cfa;

	--color-warning: #eed202;
	--color-warning-rgb: 238,210,2;
	--color-warning-contrast: #ffffff;
	--color-warning-contrast-rgb: 255,255,255;
	--color-warning-shade: #d1b902;
	--color-warning-tint: #f0d71b;

	--color-danger: #ff6b6b;
	--color-danger-rgb: 255,107,107;
	--color-danger-contrast: #ffffff;
	--color-danger-contrast-rgb: 255,255,255;
	--color-danger-shade: #e05e0e;
	--color-danger-tint: #ff7a7a;

    --color-dark: #222428;
    --color-dark-rgb: 34, 36, 40;
    --color-dark-contrast: #ffffff;
    --color-dark-contrast-rgb: 255, 255, 255;
    --color-dark-shade: #1e2023;
    --color-dark-tint: #383a3e;

	--color-medium: #92949c;
	--color-medium-rgb: 146,148,156;
	--color-medium-contrast: #000000;
	--color-medium-contrast-rgb: 0,0,0;
	--color-medium-shade: #808289;
	--color-medium-tint: #9d9fa6;

	--color-light: #f4f5f8;
	--color-light-rgb: 244,245,248;
	--color-light-contrast: #000000;
	--color-light-contrast-rgb: 0,0,0;
	--color-light-shade: #d7d8da;
	--color-light-tint: #f5f6f9;

    /*
    * Dark Colors
    * -------------------------------------------
    */
    --dark-theme-color-primary: #7d5fff;
	--dark-theme-color-primary-rgb: 125,95,255;
	--dark-theme-color-primary-contrast: #ffffff;
	--dark-theme-color-primary-contrast-rgb: 255,255,255;
	--dark-theme-color-primary-shade: #6e54e0;
	--dark-theme-color-primary-tint: #8a6fff;

	--dark-theme-color-secondary: #5840b8;
	--dark-theme-color-secondary-rgb: 88,64,184;
	--dark-theme-color-secondary-contrast: #ffffff;
	--dark-theme-color-secondary-contrast-rgb: 255,255,255;
	--dark-theme-color-secondary-shade: #4d38a2;
	--dark-theme-color-secondary-tint: #6953bf;

	--dark-theme-color-tertiary: #301b72;
	--dark-theme-color-tertiary-rgb: 48,27,114;
	--dark-theme-color-tertiary-contrast: #ffffff;
	--dark-theme-color-tertiary-contrast-rgb: 255,255,255;
	--dark-theme-color-tertiary-shade: #2a1864;
	--dark-theme-color-tertiary-tint: #453280;

	--dark-theme-color-success: #6791f9;
	--dark-theme-color-success-rgb: 103,145,249;
	--dark-theme-color-success-contrast: #ffffff;
	--dark-theme-color-success-contrast-rgb: 255,255,255;
	--dark-theme-color-success-shade: #5b80db;
	--dark-theme-color-success-tint: #769cfa;

	--dark-theme-color-warning: #eed202;
	--dark-theme-color-warning-rgb: 238,210,2;
	--dark-theme-color-warning-contrast: #444444;
	--dark-theme-color-warning-contrast-rgb: 68,68,68;
	--dark-theme-color-warning-shade: #d1b902;
	--dark-theme-color-warning-tint: #f0d71b;

	--dark-theme-color-danger: #ff6b6b;
	--dark-theme-color-danger-rgb: 255,107,107;
	--dark-theme-color-danger-contrast: #ffffff;
	--dark-theme-color-danger-contrast-rgb: 255,255,255;
	--dark-theme-color-danger-shade: #e05e0e;
	--dark-theme-color-danger-tint: #ff7a7a;

    --dark-theme-color-dark: #f4f5f8;
    --dark-theme-color-dark-rgb: 244,245,248;
    --dark-theme-color-dark-contrast: #000000;
    --dark-theme-color-dark-contrast-rgb: 0,0,0;
    --dark-theme-color-dark-shade: #d7d8da;
    --dark-theme-color-dark-tint: #f5f6f9;

	--dark-theme-color-medium: #92949c;
	--dark-theme-color-medium-rgb: 146,148,156;
	--dark-theme-color-medium-contrast: #000000;
	--dark-theme-color-medium-contrast-rgb: 0,0,0;
	--dark-theme-color-medium-shade: #808289;
	--dark-theme-color-medium-tint: #9d9fa6;

	--dark-theme-color-light: #222428;
	--dark-theme-color-light-rgb: 34,36,40;
	--dark-theme-color-light-contrast: #ffffff;
	--dark-theme-color-light-contrast-rgb: 255,255,255;
	--dark-theme-color-light-shade: #1e2023;
	--dark-theme-color-light-tint: #383a3e;
}

// ========== Ionic component changes ==========
ion-card {
	margin-inline: 0px !important;
	margin: 0px;
}

html, body, form, fieldset, table, tr, td, img, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	color: var(--color-tertiary);
}

h2 {
	font-size: 32px;
	font-weight: 700;
	color: var(--color-tertiary);
}

h3 {
	font-size: 24px;
	font-weight: 700;
	color: var(--color-tertiary);
}

h4 {
	font-size: 16px;
	font-weight: 700;
	color: var(--color-tertiary);
}

h5 {
	font-size: 14px;
	font-weight: 700;
	color: var(--color-tertiary);
}

h6 {
	font-size: 12px;
	font-weight: 700;
	color: var(--color-tertiary);
}

input, button, select, textarea, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

a {
	text-decoration: none;
}

.icon-small, %icon-small {
	font-size: 16px;
}

.icon-medium, %icon-medium {
	font-size: 24px;
}

.icon-large, %icon-large {
	font-size: 32px;
}

.icon-display, %icon-display {
	font-size: 48px;
}

.icon-hero, %icon-hero {
	font-size: 96px;
}

.font-thin, %font-thin {
	font-weight: 300;
}

.color-light {
	color: var(--color-light);
}

.color-medium {
	color: var(--color-medium);
}

.color-tertiary {
	color: var(--color-tertiary);
}

.color-primary {
	color: var(--color-primary);
}

.font-body-s, %font-body-s {
    font-size: 14px;
}

.font-body-m, %font-body-m {
    font-size: 16px;
}

.font-body-l, %font-body-l {
	font-size: 18px;
}

.rounded-corners {
	border-radius: 5px;
}

img {
    display: block;
}

.full-page-side-margin {
	margin: 0rem 1rem;
}

@media (prefers-color-scheme: dark) {
    .color-light {
        color: var(--dark-theme-color-light);
    }

	.color-tertiary {
		color: var(--dark-theme-color-tertiary);
	}

	.color-primary {
		color: var(--dark-theme-color-primary);
	}
}
