ion-content {
    --ion-background-color: #FBFBFB;
}

.events-invites {
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.content-container {
    .event-filter {
        margin: 1rem 0rem 1rem 0rem;
    }

    .events-container {
        .card-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    }
}
